.footer {
    background-color: @dark-gray;
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;

    &__menu {
        display: block;
        width: 12rem;

        & ul {
            text-align: left;
        }
    }

    @media @phone-strict {
        flex-wrap: wrap;
    }
}

.menu-bottom {
    float: left;

    & li {
        display: inline;
        font-size: .6rem;
        text-transform: uppercase;
        color: @light-gray;
    }

    & .menu__link {
        &:hover {
            text-decoration: underline;
        }
    }

    @media @phone-strict {
        width: 50%;
        order: 3;
    }
}

.menu-social {
    padding: .5rem 0;
    display: inline-block;
    width: 20rem;

    & ul {
        display: inline-block;
    }

    & li {
        display: inline;
    }

    @media @phone-strict {
        width: 100%;
        order: 1;
    }
}

.menu-location {
    & ul {
        text-align: right;
        list-style: none;

        @media @phone-strict {
            text-align: left;
        }
    }

    @media @phone-strict {
        width: 100%;
        order: 2;
        margin-bottom: 1rem;
    }
}