.header {
    &__top {
        background-color: @purple;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;

        @media @tablet-strict {
            padding: 1rem 1.5rem;
        }

        @media @phone-strict {
            flex-wrap: wrap;
            padding: 0;
            background-color: @dark-gray;
        }
    }

    &__bottom {
        background-color: @dark-gray;
        padding: 0 10rem;
        display: flex;
        justify-content: center;

        @media @desktop {
            padding: 0 1rem;
        }

        @media @tablet-strict {
            padding: 0;
        }

        @media @phone-strict {
            padding: 0;

            &_hidden {
                display: none;
            }
        }
    }

    &__side {
        width: 10rem;

        @media @phone-strict {
            background-color: @dark-gray;
            width: 50%;
            padding: 1rem;
        }
    }

    &__location {
        &::after {
            content: '';
            position: absolute;
            width: .6rem;
            height: .6rem;
            margin: .1rem .2rem;
            background: url(../img/ico_dropdown.svg) center no-repeat;
        }

        @media @phone-strict {
            order: 2;
        }
    }

    &__location-text {
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFF;
        font-size: .7rem;
    }

    &__location-select {
        -webkit-appearance: none;
        float: left;
        clear: left;
        background-color: @purple;
        border: 0;
        color: #FFF;

        @media @phone-strict {
            background: @dark-gray;
        }
    }

    &__menu {
        & ul {
            display: flex;
            justify-content: space-between;

            @media @tablet-strict {
                padding: 0 1rem;
            }

            @media @phone-strict {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__menu-item {
        list-style-type: none;
        padding: .7rem 2rem;
        font-size: .7rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #000;
        }

        @media @desktop-strict {
            padding: .7rem 1.5rem;
        }

        @media @tablet-strict {
            padding: .7rem .9rem;
        }
    }

    &__search {
        height: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media @phone-strict {
            order: 3;
            width: 10%;
            margin: 0;
            padding: 0;
            padding-top: .8rem;
            justify-content: center;
        }
    }
}

.logo {
    width: 70%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;

    & img {
        width: 15rem;
        position: relative;
        top: .2rem;
    }

    & > .icon_menu {
        display: none;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        @media @phone-strict {
            display: block;
        }
    }

    &__menu-button {
        display: block;
        width: 2rem;
        height: 2rem;
    }

    @media @phone-strict {
        order: 1;
        width: 100%;
        background-color: @purple;
        padding: 2rem 0;
    }
}

