.icon {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &_search {
        background-image: url('../img/ico_search.svg');
    }

    &_menu {
        background-image: url('../img/ico_menu.svg');
    }

    &_social {
        &:hover {
            filter: invert(70%);
        }
    }

    &_facebook {
        background-image: url('../img/ico_facebook.svg');
        filter: invert(100%);
    }

    &_twitter {
        background-image: url('../img/ico_twitter.svg');
        filter: invert(100%);
    }

    &_pinterest {
        background-image: url('../img/ico_pinterest.svg');
        filter: invert(100%);
    }

    &_youtube {
        background-image: url('../img/ico_youtube.svg');
        filter: invert(100%);
    }

    &_instagram {
        background-image: url('../img/ico_instagram.svg');
        filter: invert(100%);
    }

    &:hover {
        cursor: pointer;
    }
}