@import 'media';
@import 'wrapper';
@import 'videos';
@import 'icon';
@import 'header';
@import 'menu';
@import 'footer';

@purple: #5B1DCD;
@dark-gray: #262626;
@light-gray: #CCC;
@red: #C80000;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}




