.menu {
    text-align: center;

    &__item-title {
        color: #DDD;
        font-size: .6rem;

        @media @phone-strict {
            font-size: .7rem;
        }
    }

    &__select {
        font-size: .6rem;
        -webkit-appearance: none;
        background-color: @dark-gray;
        border: 0;
        color: #FFF;
        text-transform: uppercase;

        @media @phone-strict {
            font-size: .7rem;
        }
    }

    &__link {
        color: @light-gray;
    }

    &_bottom {
        background-color: @dark-gray;
    }

    &_bottom &__link {
        color: #f00;
    }

    @media @phone-strict {
        text-align: left;
        margin-bottom: 2rem;
    }
}