.videos {
    &__main-header {
        text-transform: uppercase;
        font-size: 3rem;
        margin: .5rem 0 2rem;
    }

    &__main-text {
        font-weight: bold;
        border-bottom: 2px solid #CCC;
        padding-bottom: 1rem;
    }

    &__header {
        text-transform: uppercase;

        &_red {
            color: @red;
        }

        @media @tablet-strict {
            font-size: 1.2rem;
            margin: .5rem 0;
        }
    }

    &__slider-container {
        & + & {
            margin-top: 3rem;
        }

        @media @tablet-strict {
            margin: 5rem 0;
        }
    }

    &__item {
        & img {
            width: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        @media @phone-strict {
            & + & {
                margin-top: 3rem;
            }

            &:nth-child(n + 4) {
                display: none;
            }
        }

    }

    &__button-load {
        display: none;
        margin: 1rem auto;
        width: 8rem;
        background-color: @dark-gray;
        padding: 1rem;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;

        @media @phone-strict {
            display: block;
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.slick-arrow {
    &::before,
    &::after {
        color: #000;
    }
}
