.wrapper {
    padding: 3rem 20rem;

    @media @desktop-strict {
        padding: 3rem 10rem;
    }

    @media @tablet-strict {
        padding: 3rem;
    }

    @media @phone-strict {
        padding: 1rem;
    }
}

.breadcrumbs {
    color: #424242;
    padding: 1rem 2rem;
    font-size: .9rem;

    &__link {
        text-transform: uppercase;
        padding: .3rem;
        color: #424242;

        &_active {
            color: @red;
        }
    }

    @media @tablet-strict {
        padding: 1.6rem;
    }

    @media @phone-strict {
        padding: 1rem;
    }
}