<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<!-- Код для примера -->

<% const menuItems = [
    {title: 'HairCare', link: '#'},
    {title: 'Color', link: '#'},
    {title: 'Styling', link: '#'},
    {title: 'Texture', link: '#'},
    {title: 'Get inspired', link: '#'},
    {title: 'Social', link: '#'},
    {title: 'News', link: '#'},
    {title: 'About', link: '#'},
    {title: 'Professional', link: '#'}
];
    const menuFooterItems = [
        {title: 'Privacy Policy', link: '#'},
        {title: 'Terms of Use', link: '#'},
        {title: 'Contact Us ', link: '#'},
        {title: 'Newsletter', link: '#'},
        {title: 'Sitemap', link: '#'}
    ];

    const socialMenuItems = [
        {class: 'icon icon_social icon_facebook', link: '#'},
        {class: 'icon icon_social icon_twitter', link: '#'},
        {class: 'icon icon_social icon_pinterest', link: '#'},
        {class: 'icon icon_social icon_youtube', link: '#'},
        {class: 'icon icon_social icon_instagram', link: '#'}
    ];

    const videoItems = [
        {address: 'Wi2KcdoCuo4'},
        {address: '8H6dYUgQKB8'},
        {address: 'PZjGrmHdFME'},
        {address: '_wLGr24VeoI'},
        {address: 'DG4FAU5qmMY'},
    ];

    const sections = [
        {
            title: ['Step', 'by', 'step'],
            adresses: ['z8M0Fa1JVco', 'Wi2KcdoCuo4', '8H6dYUgQKB8', 'PZjGrmHdFME', '_wLGr24VeoI', 'DG4FAU5qmMY'],
            red: [1],
            id: 1
        },

        {
            title: ['Craft', 'Education'],
            adresses: ['RmNWNLXmswk', '-tztXOz8Vc0', 'kUfIVtyydgQ'],
            red: [1],
            id: 2
        },

        {
            title: ['Inspiration'],
            adresses: ['VmmwwzR536g', 'vz0k8O-Ef9Y', '6oPBFnsqJW8'],
            id: 3
        }
    ];
%>

<header class="header">
    <div class="header__top">
        <div class="header__side header__location">
            <label for="salon-select" class="header__location-text">Nearest salon</label>
            <select class="header__location-select" id="salon-select" name="salon-select">
                <option value="0">Plush Salon 92101</option>
            </select>
        </div>

        <figure class="logo">
            <div class="icon icon_menu js-menu-button"></div>
            <img src="img/logo.svg" alt="To main">
        </figure>

        <div class="header__side header__search">
            <div class="icon icon_search"></div>
        </div>
    </div>

    <div class="header__bottom header__bottom_hidden">
        <nav class="menu header__menu">
            <ul>
                <% menuItems.forEach((item) => { %>
                    <li class="header__menu-item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
                <% }) %>
            </ul>
        </nav>
    </div>
</header>

<div class="breadcrumbs"><a class="breadcrumbs__link" href="#">Home</a>/<a class="breadcrumbs__link breadcrumbs__link_active" href="#">Videos</a></div>

<div class="wrapper">
    <div class="videos">
        <section class="videos__main">
            <h1 class="videos__main-header">Videos</h1>
            <div class="video-container">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z8M0Fa1JVco" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="videos__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac lobortis mi, vitae feugiat nunc. Vestibulum venenatis neque eget urna cursus ullamcorper at nec nisl. Cras ac luctus orci. Fusce auctor placerat lectus quis maximus.</p>
        </section>

        <% sections.forEach((item) => { %>
            <section class="videos__slider-container" data-id="<%= item.id %>">
                <h1 class="videos__header">
                    <% for (var j = 0; j < item.title.length; j++) { %>
                        <% if(j == item.red){ %>
                            <span class="videos__header videos__header_red"><%= item.title[j]%></span>
                        <% } else{ %>
                            <%= item.title[j]%>
                        <% } %>
                    <% } %>
                </h1>

                <div data-slick='{"arrows": true}' class="slider">
                    <% for (var i = 0; i < item.adresses.length; i++) { %>
                        <div class="videos__item">
                            <img data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/<%= item.adresses[i] %>" src="https://img.youtube.com/vi/<%= item.adresses[i] %>/0.jpg" alt="Step by step <%= i + 1 %>">
                        </div>
                    <% }%>
                </div>

                <div class="videos__button-load js-load-button" data-id="<%= item.id %>">Load More</div>
            </section>
        <% }) %>
    </div>
</div>


<footer class="footer">
    <nav class="menu menu-bottom footer__menu">
        <ul>
            <% menuFooterItems.forEach((item) => { %>
            <li class="menu-bottom__item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
            <% }) %>
        </ul>
    </nav>

    <nav class="menu footer__menu menu-social">
        <ul>
            <% socialMenuItems.forEach((item) => { %>
                <li class="menu-social__item">
                    <a class="menu__link <%= item.class; %>" href="<%= item.link; %>"></a>
                </li>
            <% }) %>
        </ul>
    </nav>

    <nav class="menu footer__menu menu-location">
        <ul>
            <li class="menu-location__item menu-location__item_select">
                <label for="location-select" class="menu__item-title">Location: </label>
                <select class="menu__select menu__select_location" id="location-select" name="location-select">
                    <option value="0">United States</option>
                    <option value="1">United States</option>
                </select>
            </li>

            <li class="menu__item">
                <label for="language-select" class="menu__item-title">Language: </label>
                <select class="menu__select menu__select_language" id="language-select" name="language-select">
                    <option value="0">English</option>
                    <option value="1">English</option>
                </select>
            </li>
        </ul>
    </nav>
</footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
